*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/church2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 50px;
}

.caption {
    font-weight: 600;
    color: #fff;
    letter-spacing: 4px;
    line-height: 16px;
    text-align: center;
}

.caption:hover {
    color: #FFD700;
    cursor: pointer;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.nav-links ul li a:hover {
    font-weight: 600;
    transition: 250ms;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #FFD700;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 60px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 30px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

nav .fa {
    display: none;
}

.hero-btn:hover {
    border: 1px solid #FFD700;
    color: #000;
    background: #FFD700;
    transition: 1s;
}

/*========About Section=========*/

.about {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.about-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.about-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*==========Meet Our Team============*/

.team {
    width: 100%;
    background-color: #00093c;
    color: #fff;
    margin-top: 50px;
}

.heading {
    text-align: center;
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 35px;
    color: #fff;
}

.heading span {
    font-size: 25px;
    font-style: italic;
}

.profiles {
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
}

.profile {
    flex-basis: 260px;
}

.profile .profile-img {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    overflow: hidden;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
}

.profile:hover .profile-img {
    filter: grayscale(0);
}

.user-name {
    margin-top: 20px;
    font-size: 25px;
}

.profile h5 {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #ccc;
}

.profile p {
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
    text-align: justify;
    padding-bottom: 50px;
}

/*========Footer Section=========*/

section.footer {
    width: 100%;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 50px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col p {
    color: #fff;
}

.office {
    padding-bottom: 20px;
}

.logo-footer {
    width: 50px;
    padding: 10px;
    margin-bottom: 30px;
}

/*----------Media Query------------*/

@media (max-width: 700px) {

    *{
        overflow-x: hidden;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }


    nav img {
        width: 35px;
    }
    
    .caption {
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        letter-spacing: 2px;
        line-height: 16px;
        text-align: center;
    }

    .text-box h1 {
        font-size: 30px;
    }
    
    .text-box p {
        margin: 10px 0 40px;
        font-size: 12px;
        color: #fff;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #FFD700;
        height: 100%;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }

    .row {
        flex-direction: column;
    }

    .profiles {
        flex-direction: column;
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile p {
        text-align: center;
        margin: 20px 60px 80px 60px;
        font-size: 14px;
    }

    .active#menu {
        right: -200px;
    }
    
}
